<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form action="#" th:action="@{/{id}(id=${user.id})}" th:object="${user}" method="post">
  <label for="firstName">Name: </label>
  <input type="text" th:field="*{firstName}" id="firstName">

  <label for="lastName">Lastname: </label>
  <input type="text" th:field="*{lastName}" id="lastName">

  <label for="email">Email: </label>
  <input type="text" th:field="*{email}" id="email">

  <input type="submit" value="Update"/>
</form>

</body>
</html>